@import url('https://fonts.googleapis.com/css?family=PT+Serif|Raleway');

body{
	background-color: #ffffff;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

div class "wrapper"{
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

header{
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

h1{
	color: #000000;
	font-family: 'PT Serif', serif;
}

nav{
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

section id "one"{
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

main{
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

iframe{

}

ul{	
	text-align: center;
	list-style-type: none;
	padding: 0;
}

footer{
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;	
}

#three_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#middle{
    background-color: #E582A5;
    border: 1px black solid;
    padding: 20px;
    display: inline-block;
    width: 30%;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 30%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}