@import url('https://fonts.googleapis.com/css?family=PT+Serif|Raleway');
* {margin:0;padding:0;box-sizing:border-box;}

body{
	background-color: #ffffff;
	text-align: center;
	font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: center;
}

.wrapper{
    background-color: #ffffff;
}

header{
    background-color: #ffffff;
    padding: .75em;
}

h1{
	color: #000000;
	font-family: 'PT Serif', serif;
}

nav{
    background-color: #ffffff;
    padding: .75em;
}

#intro{
    background-image: url(../images/yoga-studio-3.jpg);
    background-size: cover;
    height: 100vh;
    padding: 15em 5em;
    background-repeat: none;
}

#one{
    background-color: #ffffff;
    padding: 20px;
    width: 100%
}

main{
    background-color: #ffffff;
    padding: 20px;
    width: 100%;
}

ul{	
	text-align: center;
	list-style-type: none;
	padding: 1.5em;
}

footer>*{
    background-color: #ffffff;
    width: 33.33%;
    float: left;
    padding: 4em;
    text-align: center;	
}

#three_column {
    background-color: #ffffff;
    border: 1px black solid;
    padding: 20px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media screen only and (min-width: 500px) {
footer {
float: none;
}
